.App-side-bar{
  background-color: #FFFFFF;
  width: 60px;
  -webkit-transition: width .5s ease-in; /* For Safari 3.1 to 6.0 */
  transition: width .5s ease-in;
}

.App-side-bar h4{
  margin: 0;
  opacity:0;
  color : #2a7cf7;
  font-weight: 100;
  font-size: 15px
}

.App-side-bar:hover {
  width: 200px;
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}

.App-side-bar:hover h4{
  opacity: 1;
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}